@color-blue1: #409EFF;
@color-blue2: #2255B9;
@color-blue3: #e8f4ff;

@color-grey1: #f6f8f9;
@color-grey2: #dcdfe6;
@color-grey3: #909399;
@color-grey4: #515a6e;
@color-grey5: #282c34;
@color-grey6: #999999;


@color-green1: #67C23A;

@color-yellow1: #E6A23C;

@color-red1: #F56C6C;

@color-black:  #000000;

@color-white: #ffffff;